<h2>sewingly is a marketplace for sewists, knitters, & other needle artists</h2>

<div class="row">
   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>
</div>  

