<h2>sewingly is a marketplace for sewists, knitters, & other needle artists</h2>

<div class="row">
   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/043/0/8674457/il_570xN.640818797_e8rr.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/048/1/6248546/il_570xN.665149767_czsm.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/038/1/5426334/il_570xN.537270875_dj6z.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img0.etsystatic.com/000/0/5126613/il_570xN.185163986.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/016/0/6248546/il_570xN.416099087_gw8j.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/046/1/9948244/il_570xN.665401955_hwu0.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/008/1/5531042/il_570xN.404752339_oumz.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <a href="#" id="artist-name-landing">By Annie B. Sweet</a><a href="#" id="price">$159.99</a>
          
      </div>
   </div>
</div>  

