<div class="jumbotron">
	<div class="container-fluid">
    	<h1>Welcome to Sewingly</h1>
    	<p>A community marketplace for knitters, sewists, and other needle artists.</p>
  	</div>
</div>

	<div class="container">
  		<h2 class ="text-center">Homespun Finds</h2>
  		<p class="text-center">Discover unique items from the knitter, the quilter, and the .</p>
	</div>

<div class="container-fluid">
	<div class="row">
    	<%= render @items %>
  	</div>
</div>

<div class="jumbotron jumbotron-two">
  <div class="container-fluid">
      <h2>Fabrics, trims, and threads...</h2>
      <p>Find beautiful supplies from specialty shops and artists' closets. </p>
      
    </div>
</div>




