<div class="jumbotron">
  <div class="container-fluid">
    <h1>Welcome to Sewingly</h1>
    <p>A community marketplace for knitters, sewists, and other needle artists.</p>
  </div>
</div>

<div class="container">
  <h2 class ="text-center">Homespun Finds</h2>
  <p class="text-center">Discover unique goods from dress-makers, quilters, and other artists.</p>
</div>

<div class="container">
  <div class="row">
    <%= render @items %>
  </div>
</div>




