<h2>What can you sell on sewingly?</h2>


<div class="row">
   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/043/0/8674457/il_570xN.640818797_e8rr.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <p>craft supplies from specialty shops or leftover supplies from your last project.</p>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="https://img1.etsystatic.com/032/0/9803418/il_570xN.645202375_1y0w.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <p>homespun items.  knitting, weaving, sewing, etc.  </p>
          
      </div>
   </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <a href="#"><img src="http://media-cache-ec0.pinimg.com/736x/17/e2/00/17e20059e6b6d77789b5efc41f722513.jpg" 
         alt="Generic placeholder thumbnail"></a>
      </div>
      <div class="caption">
        <p>items made by you, your club, or your collective, but absolutely nothing outsourced to a factory.</p>
          
      </div>
   </div>
</div>

  <% if logged_in? %>

    <%= link_to "open a booth on sewingly", register_path, class: "btn col-md-4 col-md-offset-4" %>

  <% else %>

    <%= link_to "login to open booth", login_path, class: "btn col-md-4 col-md-offset-4" %>

  <% end %>



  
   
