
<p>Hi <%= @user.name %>,</p>

<p>
Welcome to sewingly! Please click on the link below to activate your account:
</p>

<%= link_to "Activate My Sewingly Account", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>