<% provide(:title, 'Items') %>
<h2 class ="text-center"> Homespun Items </h2>
<p class ="text-center">Browse items made by our community of fabric and needle artists.</p>

<div class="container">
  <div class="row">
    <%= render @items %>
  </div>
</div>