@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: "archer";
  src: url(/assets/fonts/Archer-Book-Pro.otf);
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-green: #a3c1af;
$medium-green: #86a291;
$cream: #fff7e9;
$black: #221e1f; 
$black-green: #2e3531;
$coral: #ed8269;
$sherbert: #f27f56;

$serif-font: archer, georgia, serif;
$sans-serif-font: open sans, arial, sans-serif;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}


body {
  padding-top: 60px;
  background-color: #fefefe;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a, a:active, a:focus {
outline: none;
}


/* typography */


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: $serif-font;
  font-weight: lighter;
  color: $black-green; 
}

p {
  font-size: 1em;
  line-height: 1.7em;
  font-family: $sans-serif-font; 
  color: $black-green;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* header */

#logo {
  float: left;
  margin-right: 20px;
  font-family: archer;
  font-weight: lighter;
  font-size: 2em;
  color: #fff;
  letter-spacing: 2px;
  padding-top: 5px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo:focus {
  text-decoration: none;
}


/* navbar*/

.navbar {
    background-color: #a3c1af;;
    color:#ffffff;
    border-radius:0;
    color: #fff;
    text-decoration: none;
    &:hover {
    	background-color: #a3c1af;
  }
}

.navbar .navbar-nav > li > a {
    color: white;
    font-family: $sans-serif-font;
    text-transform: uppercase;
}

.navbar .navbar-nav {
    > li {
      > a {
        color: white;
        &:hover,  &:focus {
          background-color: $medium-green;
          color: white; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: white;
        background-color: $light-green; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: white;
        background-color: $medium-green	; 
      }
    }
  }

 .navbar-search {
    margin-left: 415px;
    position: absolute;
    top: 7px;
  
 }

 .navbar-search input {
 	width: 250px;
  height: 35px !important;
 	border-radius: 3px;
  color: $black-green;
 }

 .glyphicon-search {
  color: $medium-green;
  margin-left: -30px;
}

 .dropdown{
  color: white;
 }

 /* Jumbotron */

 .jumbotron {
  background-image: url(http://i1216.photobucket.com/albums/dd370/kjames1581/jtronnew.jpg);
  height: 250px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  text-align: center;
  margin-top: -9px;
  p { 
  color: white;
  }
}

 /* Footer */  

footer {
  margin-top: 100px;
  padding-top: 5px;
  position: relative;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

 /* thumbnails landing page */



.col-md-6 {
  margin-bottom: 40px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    padding: 0;
}

.caption {
  margin-top: -10px;
}
#artist-name-landing  {
  color: $black-green;
  margin-left: 5px;
  
}

#price {
  float: right;
  color: $coral;
  margin-right: 10px;
}

/* sign up form new user */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn {
  background-color: $coral;
  color: white;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}

.btn:focus {
  color: white;
  outline: none;
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}













