@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-green: #a3c1af;
$medium-green: #86a291;
$cream: #fff7e9;
$black: #221e1f; 
$black-green: #2e3531;
$coral: #ed8269;
$sherbert: #f27f56;
$pink: #f16c85;
$gray-medium: #9f9f9f;

$serif-font: georgia, serif;
$sans-serif-font: open sans, arial, sans-serif;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}


body {
  padding-top: 60px;
  background-color: #fefefe;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a, a:active, a:focus {
outline: none;
}


/* typography */


h1, h2, h3, h4, h5, h6 {
  
  font-family: $serif-font;
  font-weight: lighter;
  color: $black-green; 
 
}

p {
  font-size: 1em;
  line-height: 1.7em;
  font-family: $sans-serif-font; 
  color: $black-green;
}

.bold {
  font-weight: bold;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* header */

#logo {
  float: left;
  margin-right: 20px;
  font-family: cookie;
  font-weight: lighter;
  font-size: 2em;
  color: #fff;
  letter-spacing: 2px;
  padding-top: 5px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo:focus {
  text-decoration: none;
}


/* navbar*/

.navbar {
    background-color: #a3c1af;
    background: -webkit-linear-gradient(#bfddcb,#a3c1af); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bfddcb, #a3c1af); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bfddcb, #a3c1af); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bfddcb, #a3c1af); /* Standard syntax */

    border-bottom: 1px solid #8fa496;
    color:#ffffff;
    border-radius:0;
    color: #fff;
    text-decoration: none;
    &:hover {
    	background-color: #a3c1af;
  }
}

.navbar .navbar-nav > li > a {
    color: white;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    font-weight: normal;
}

.navbar .navbar-nav {
    > li {
      > a {
        color: white;
        &:hover,  &:focus {
          background-color: $medium-green;
          color: white; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: white;
        background-color: $light-green; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: white;
        background-color: $medium-green	; 
      }
    }
  }

 .navbar-search {
    margin-left: 415px;
    position: absolute;
    top: 7px;
  
 }

 .navbar-search input {
 	width: 250px;
  height: 35px !important;
 	border-radius: 3px;
  color: $black-green;
 }

 .glyphicon-search {
  color: $medium-green;
  margin-left: -30px;
}

 .dropdown{
  color: white;
 }

 /* Jumbotron */

 .jumbotron {
  background-image: url(http://i1216.photobucket.com/albums/dd370/kjames1581/sewhome.jpg);
  height: 500px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  text-align: left;
  margin-top: -9px;
  p, h2, h1{ 
  color: white;
  text-align: left;
  }
}

 /* Footer */  

footer {
  margin-top: 100px;
  padding-top: 5px;
  position: relative;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

 /* thumbnails landing page */



.col-md-6 {
  margin-bottom: 40px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    padding: 0;
}

.caption {
  margin-top: -10px;
}
#item-maker-partial   {
  color: $black-green;
  margin-left: 5px;
}

#item-price-partial {
  float: right;
  color: $coral;
  margin-right: 10px;
}

/* sign up form new user */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn {
  background-color: $coral;
  background: -webkit-linear-gradient(#f79074,$coral); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f79074, $coral); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f79074, $coral); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f79074, $coral); /* Standard syntax */

  border: 1px solid #c96c5d;
  color: white;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}

.btn:focus {
  color: white;
  outline: none;
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* item page */


.item-page-container {
  margin-top: 50px;
h1, h2, h3, h4 {
font-family: $sans-serif-font;
  }
}

#item-maker-details {
  padding-top: 15px;
  padding-bottom: 30px;
  border-top: 1px solid $gray-medium-light;
}

#item-booth-details {
  padding-top: 15px;
  border-top: 1px solid $gray-medium-light; 
}

#paypal-buy-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.glyphicon-plus {
  margin-left: 15px;
  color: $light-green;
}

.glyphicon-heart {
  margin-left: 15px;
  color: $gray-medium;
}

.glyphicon-thumbs-up {
  color: $black-green;
  margin-left: 5px;
}

/* user profile page */

.user-profile {
  margin-top: 30px;
  border-bottom: 1px solid $gray-medium-light; 
  padding-bottom: 0;
}

#user-location {
  font-style: italic;
  margin-top: -8px;
} 

.plus-btn {
  color: white;
  padding-right: 10px;

}

.follow-btn {
  
}

.user-profile-info {
 
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}




